<div>
  <h2>スケジュール詳細</h2>
  <table>
    <tr>
      <th>講師名</th>
      <th>勤務日時</th>
    </tr>
    <tr>
      <td><%= @schedule.teacher.last_name + @schedule.teacher.first_name %></td>
      <td><%= @schedule.start_time %>～<%= @schedule.finish_time %></td>
    </tr>
  </table>
</div>