<div>予約一覧</div>
<div>
  <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>

  予約履歴
</div>
<div>
  <% @reservations.each do |reservation| %>
    <%= reservation.student.last_name %>
    <%= reservation.start_time %>
    <%= reservation.finish_time %>
  <% end %>
</div>