<div class="container background pt-5 pb-5 m-0">
  <div class="row mt-2 h2">
    <div class="col-md-8 offset-2 pt-3">
    Langue_appについて
    </div>
  </div>
  <div class="row mt-2 pt-3 pb-5">
    <div class="col-md-7 offset-3">
    Langue_appは、フランス語オンラインスクールサイトです。<br>
    好きな時間に好きな場所でレッスンを受講することができます。<br>
    経験豊富なネイティブ講師による個別指導で、自分の必要とするスキルを重点的に伸ばすことができます。<br>
    ぜひ、Langue Appでフランス語を身につけましょう！
    </div>
  </div>
</div>